
.page-404{
    /* background-color: darkseagreen; */
    /* border-radius: 10px; */
    /* padding: 10px; */
    /* box-shadow:1px -1px 10px 10px darkseagreen; */
    /* text-align: center; */
    /* width: 700px; */
    /* height:300px; */
    /* margin: 0 auto;
    position: absolute;
    left:50%;
    top: 50%;
    margin-left:-350px;
    margin-top:-350px; */
}

.page-404 p {
    /* font-size: xx-large; */
}

.page-404 img {
    /* padding-top: 100px; */
}