.header {
    background-color: lightgrey;
    text-align: center;
    padding: 30px;
    margin:0px 20px 30px 20px;
    border-radius: 15px;
    box-shadow:1px -1px 10px 10px lightgrey;
}

.header h1 {
    margin-top: 5;
    font-family:cursive;
    font-size: 25px;
    box-shadow:0.5px 0.5px 7px rgb(143, 141, 141);
  }