
.user-add-form {
    display: flex;
    flex-direction: column;
}

.user-add-form {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: darkseagreen;
    border-radius: 10px;
    padding: 10px;
    box-shadow:1px -1px 10px 10px darkseagreen;
}

.user-add-form input {
    height:40px;
    border-radius: 10px;
    margin:10px;
    box-shadow:0.5px 0.5px 7px black;
  }

.user-add-form #check-box {
    height:auto;
    size: 20px;
}